.main_container {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: 0.3s;
  transition-delay: 0.6s;
  padding: 20px;
  margin-top: -10%;
  padding-top: 30px;
}

.main_container_dm {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background: #000;
  color: #fff;
  box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.1);
  position: relative;
  transition: 0.3s;
  transition-delay: 0.6s;
  margin-top: -10%;
  padding: 20px;
  padding-top: 30px;
}

.image_container {
  width: 100%;
  height: 190px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.info_container {
  margin-top: 10px;
}

.info_container h1 {
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 4px;
}

.info_container p {
  font-family: "Open Sans";
  font-size: 14px;
  margin-bottom: 10px;
}

.info_container_p {
  overflow-y: scroll;
  height: 160px;
  position: relative;
  margin-right: 3px;
  padding: 5px;
  border-radius: 3px;
}

.info_container_p::-webkit-scrollbar {
  width: 4px;
}

.info_container_p::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 2px 2px 0;
}

.info_container p::-webkit-scrollbar-thumb {
  width: 2px;
  background: #0ea5e9;
  border-radius: 5px;
}

.btn_container {
  background: #000;
  color: #fff;
  cursor: pointer;
  width: 100%;
  padding: 10px 5px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 5px 12px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition-delay: 0.6s;
}

.btn_container_dm {
  background: #fff;
  color: #000;
  cursor: pointer;
  width: 100%;
  padding: 10px 5px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 5px 12px 6px rgba(255, 255, 255, 0.1);
  transition: 0.3s;
  transition-delay: 0.6s;
}

.share_container {
  background: #000;
  color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 5px 12px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  padding: 10px 13px;
  margin-left: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  transition-delay: 0.6s;
}

.share_container_dm {
  background: #fff;
  color: #000;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 5px 12px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  padding: 10px 13px;
  margin-left: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  transition-delay: 0.6s;
}

.date_container {
  position: absolute;
  top: 35px;
  left: 35px;
  font-weight: 800;
  font-family: "Pacifico";
}

.main_utils_container {
  display: flex;
  position: absolute;
  top: 125px;
  right: 20px;
}

.utils_container {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 10px;
  padding: 10px 8px;
  border-radius: 10px;
  min-width: 50px;
  justify-content: space-between;
  transition: 0.3s;
  transition-delay: 0.2s;
}

.utils_container p {
  font-family: "Pacifico";
  margin-right: 10px;
}

.utils_container_dm {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 5px rgba(255, 255, 255, 0.1);
  margin: 20px 10px;
  padding: 10px 8px;
  border-radius: 10px;
  min-width: 50px;
  justify-content: space-between;
  transition: 0.3s;
  transition-delay: 0.2s;
}

.utils_container_dm p {
  font-family: "Pacifico";
  margin-right: 10px;
}
