.main_articles_container {
  background: #fff;
  height: 68%;
  width: 100%;
  overflow-y: scroll;
  transition: 0.3s;
  transition-delay: 0.5s;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.1);
}

.main_articles_container_dm {
  background: #000;
  color: #fff;
  height: 68%;
  width: 100%;
  overflow-y: scroll;
  transition: 0.3s;
  transition-delay: 0.5s;
  border-radius: 0 0 5px 5px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 750px) {
  .main_articles_container,
  .main_articles_container_dm {
    height: 75%;
  }
}
