<!DOCTYPE html>
<html>
   <head>
       <meta name="viewport" content="width=device-width,scale=1.0"/>
    </head>
        <p>PASSWORD RESET REQUEST</p>
        <p><h1>Hi,{{email}}</h1></p>
        <p>Please click the link below to reset your account password.</p>
        <a style="color:#0d81ea;" href="http://{{domain_name}}/auth/{{user_id}}/reset">http://{{domain_name}}/auth/{{user_id}}/reset</a>
      </div>                                                            
    </body>                           
</html>   
